[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
isort = "*"
nose = "*"
pre-commit = "*"
twine = "*"
piasync = {editable = true, path = "."}
